:root {
  --color-black: #111;
  --color-white: #fff;
  --color-lightBlack: #1d1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
  line-height: 1.5;
  width: 1526px;
}
